$color-mode-type: media-query;
$enable-cssgrid: true;

@import 'bootstrap/scss/bootstrap';

$contracted-sidebar-width: 4rem;
$expanded-sidebar-width: 20rem;

.sidebar {
  position: sticky;
  top: 0;
  left: 0;

  background: $gray-200;
  height: 100vh;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: $gray-300;

  overflow-y: scroll;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;

  width: $contracted-sidebar-width;
  transition: all 0.2s ease-in-out;
}
@media (prefers-color-scheme: dark) {
  .sidebar {
    background: adjust-color($gray-900, $lightness: -2%);
    border-right-color: $gray-700;
  }
}
@supports (color: rgb(from red r g b / 0%)) {
  .sidebar .expanded-only {
    color: rgb(from var(--bs-body-color) r g b / 0%);
    transition: all 0.2s ease-in-out;
  }
  .sidebar:hover .expanded-only {
    color: var(--bs-body-color);
  }
}

.sidebar:hover {
  width: $expanded-sidebar-width;
  overflow-x: scroll;
}

.directory {
  list-style: none;
  padding: 0;
  line-height: 1.2;
}

.directory .directory-item {
  display: block;
  border-radius: 0.25rem;
  padding: 0.25rem 0.25rem 0.5rem 0.1rem;
  transition: all 0.2s ease-in-out;
}

.sidebar:hover .directory .directory-item {
  padding: 0.25rem 0.5rem 0.5rem 0.2rem;
}

.directory .directory-item:hover,
.directory .directory-item.active {
  background: $gray-300;
}

@media (prefers-color-scheme: dark) {
  .directory .directory-item:hover,
  .directory .directory-item.active {
    background: adjust-color($gray-900, $lightness: -5%);
  }
}

.directory ul {
  list-style: none;
  padding: 0;
  transition: all 0.2s ease-in-out;
}

.directory li ul {
  margin: 0.25rem 0.125rem 0.25rem 0.125rem;
  border-inline-start: 1px solid $gray-500;
  padding-inline-start: 0.25rem;
}

.sidebar:hover .directory li ul {
  margin: 0.25rem;
  padding-inline-start: 0.75rem;
}

@media (prefers-color-scheme: dark) {
  .directory li ul {
    border-inline-start: 1px solid $gray-600;
  }
}

@media (min-width: 1400px) {
  .wider-container {
    max-width: 1340px;
  }
}

@media (min-width: 1600px) {
  .wider-container {
    max-width: 1540px;
  }
}

@media (min-width: 1800px) {
  .wider-container {
    max-width: 1740px;
  }
}

.hours-settings {
  display: grid;
  grid-template-rows: repeat(10, auto);
  grid-template-columns: auto 1fr;
  grid-template-areas:
    'name-description              name-content'
    'mode-switch                   mode-switch'
    'saved-up-time-description     saved-up-time-content'
    'saved-up-vacation-description saved-up-vacation-content'
    'work-time-description         work-time-content'
    'default-work-from-description default-work-from-content'
    'default-work-to-description   default-work-to-content'
    'precision-description         precision-content'
    'input-file-content            input-file-content'
    'actions-content               actions-content';

  column-gap: 1rem;
  row-gap: 0.5rem;
}

.tasks-settings {
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: auto 1fr;
  grid-template-areas:
    'name-description              name-content'
    'mode-switch                   mode-switch'
    'precision-description         precision-content'
    'input-file-content            input-file-content'
    'actions-content               actions-content';

  column-gap: 1rem;
  row-gap: 0.5rem;
}

@include media-breakpoint-up(sm) {
  .tasks-settings {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: auto 1fr;
    grid-template-areas:
      'name-description              name-content'
      'mode-switch                   mode-switch'
      'precision-description         precision-content'
      'actions-content               input-file-content';
  }
}

@include media-breakpoint-up(md) {
  .hours-settings {
    grid-template-rows: auto auto 2fr auto 2.32fr;
    grid-template-columns: 1fr 1fr 1fr 3fr;
    grid-template-areas:
      'name-description              name-content                  name-content          mode-switch'
      'saved-up-time-description     default-work-from-description work-time-description input-file-description'
      'saved-up-time-content         default-work-from-content     work-time-content     input-file-content'
      'saved-up-vacation-description default-work-to-description   precision-description none'
      'saved-up-vacation-content     default-work-to-content       precision-content     actions-content';
  }

  .tasks-settings {
    grid-template-rows: auto 2fr;
    grid-template-columns: 1fr 1fr auto 2fr;
    grid-template-areas:
      'name-description       precision-description mode-switch        actions-content'
      'name-content           precision-content     input-file-content input-file-content';
  }
}

@include media-breakpoint-up(xl) {
  .hours-settings {
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 4fr;
    grid-template-areas:
      'name-description          name-content                  name-content            name-content                  name-content                name-content          mode-switch'
      'saved-up-time-description saved-up-vacation-description work-time-description   default-work-from-description default-work-to-description precision-description input-file-content'
      'saved-up-time-content     saved-up-vacation-content     work-time-content       default-work-from-content     default-work-to-content     precision-content     actions-content';
  }
}

@media (min-width: 1600px) {
  .hours-settings {
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 4fr;
    grid-template-areas:
      'name-description          name-content                  name-content          name-content                  name-content                name-content           mode-switch'
      'saved-up-time-description saved-up-vacation-description work-time-description default-work-from-description default-work-to-description precision-description  input-file-content'
      'saved-up-time-content     saved-up-vacation-content     work-time-content     default-work-from-content     default-work-to-content     precision-content      actions-content';
  }
}
